<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAzUxPuIM3mgqVid_HztX_Y2uN8JzYxXU8</string>
	<key>GCM_SENDER_ID</key>
	<string>524732542029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hangarGym.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>hangar-gym</string>
	<key>STORAGE_BUCKET</key>
	<string>hangar-gym.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:524732542029:ios:9c0d1266b06c6f539f4004</string>
</dict>
</plist>